@using Core.Application.ViewModels.UserVM;
@model SaveUserViewModel
@{

}

<div class="col-12 d-flex justify-content-center">
    <div class="col-5 mt-5">
        <form method="post" asp-action="Register" asp-controller="User" enctype="multipart/form-data">
            >
            <div class="card">
                <div class="card-header">
                    <h4>Registrarse</h4>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new{@class = "text-danger"})
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Name" class="form-label">Nombre</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <!-- LastName input -->
                    <div class="form-outline mb-4">
                        <label asp-for="LastName" class="form-label">Apellido</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <!-- Phone input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Phone" class="form-label">Telefono</label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>


                    <!-- Phone input -->
                    <div class="form-outline mb-4">
                        
                        <input asp-for="File1" class="form-control">
                        
                    </div>

                    <!-- Phone input -->
                    <div class="form-outline mb-4">
                        <label asp-for="ProfileImg" class="form-label">Imagen</label>
                        <input asp-for="ProfileImg" class="form-control">
                        <span asp-validation-for="ProfileImg" class="text-danger"></span>
                    </div>

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label asp-for="UserName" class="form-label">Username</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!-- Repeat Password input -->
                    <div class="form-outline mb-4">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <label asp-for="ConfirmPassword" class="form-label">Repeat password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <input type="number" type="hidden" class="form-control" asp-for="Id">

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-3">Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</div>