@using Core.Application.Helpers
@using Microsoft.AspNetCore.Http;
@using Core.Application.ViewModels.UserVM
@inject IHttpContextAccessor httpContext;
@{
    UserViewModel user = httpContext.HttpContext.Session.Get<UserViewModel>("user");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialMedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialMedia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-between">
                        <div class="w-100 d-flex justify-content-center">
                        <li class="nav-item me-5">
                            <a class="nav-link text-dark linkApp linkApp_active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link text-dark linkApp" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                </div>

                </ul>
            </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="col-12 d-flex justify-content-center" style="margin-top: 5rem;">
            @RenderBody()

        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SocialMedia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
